div.tabcontainer
{
  width: 100%;
  margin-top: 4px;
}

div.tabcontent
{
  border: 2px solid #827595;
  padding: 6px;
  margin: 0;
  background: url(../pics/tabbedpanel_bar.gif) repeat-x;
}

ul.tabbar
{
  padding: 1px 0;
  margin: 0;
  overflow: visible;
  white-space: nowrap;
  list-style-type: none;
}

li.tab
{
  padding: 0;
  margin: 0;
  margin-right: 10px;
  display: inline;
}

li.tab a
{
  padding: 1px 15px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: #5b526b;
  background: #babbca;
}

li.tab a:hover, li.tab a:focus
{
  color: #5b526b;
  background:  #d7d7e0;
}

li.tabactive a, li.tabactive a:hover, li.tabactive a:focus
{
  color: #fff;
  background: #827595;
}
